<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Prices</title>
</head>
<body>
    <h1>Stock Prices</h1>
    <form action="/info">
        <label>
            Stock symbol:
            <input type="search" name="symbol" placeholder="AAPL" required>
        </label>
        <button>Search</button>
    </form>
</body>
</html>