<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Prices</title>
</head>
<body>
    <%= symbol %> last sold for $<%= price %>
</body>
</html>