<h2>Asset Helpers</h2>

<img src="/assets/funny.jpg" alt="Children smoking">


<!-- Cache busting -->
<%= image_tag 'funny.jpg', :alt => 'Children smoking', :id => 'hotdogs', :class => 'feature' %>

<p>
    There also helpers for <code>video_tag</code> and <code>audio_tag</code>
</p>