<h1>Search for a book</h1>

<form action="/books/info">

    <label>
        Book title:
        <input type="search" name="title" placeholder="Jaws" required autofocus>
    </label>

    <button>Search</button>

</form>