<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Intro Home</title>
</head>
<body>
    <h1>Express Intro</h1>
    <h2>ZOMG the home page! WOWOWOW!</h2>
    <h3>I LOVE JAVASCRIPT SO MUCH</h3>

    <p>
        Random brother: <%= brother %>
    </p>

    <p>
        Lucky number: <%= lucky %>
    </p>
</body>
</html>