<div class="row">
    <div class="col-md-3">
        <h2>Sub Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolores, sequi adipisci corrupti error, totam laborum ullam aliquid nam minus, quo illo perferendis obcaecati voluptas aspernatur libero amet odit eos.</p>
        <p>Incidunt est minus ullam sapiente numquam sunt obcaecati, quia, aut recusandae iste aliquid. Omnis dolorem eligendi quaerat autem veritatis corrupti quibusdam, atque rerum quidem? Possimus labore et laborum fugiat ad!</p>
        <p>Corrupti sint tenetur, mollitia inventore nisi officiis necessitatibus, illum explicabo deserunt perspiciatis consectetur voluptatem neque incidunt doloremque animi, totam at dolore quisquam ea? Atque vel consequatur iusto laborum libero non.</p>
    </div>

    <div class="col-md-6">
        <h1>Main Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsum illum mollitia autem, dolorum aspernatur ea qui iusto doloribus optio aut quae suscipit, culpa dolor in, atque accusantium eum. Molestias?</p>
        <p>Tempora necessitatibus modi obcaecati facilis, rerum dignissimos laboriosam a, animi dolore commodi ab delectus maxime mollitia autem nemo cumque nostrum fugit. Blanditiis architecto et, commodi necessitatibus error natus facilis deserunt?</p>
        <p>Modi qui excepturi culpa repudiandae vitae provident, iure quaerat incidunt quia consectetur assumenda cupiditate libero repellendus quod dolor, eius quasi doloremque, hic ullam dolore! Incidunt fugiat nostrum quae iusto exercitationem!</p>
        <p>Aspernatur eaque pariatur doloremque voluptate temporibus nam enim consequuntur molestiae similique ab quod delectus iste, laboriosam voluptatibus! Cumque molestias doloribus culpa quia soluta qui earum, magni sint blanditiis ratione temporibus.</p>
    </div>

    <div class="col-md-3">
        <h2>Sub Heading</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore temporibus odit expedita. Ea, aut! Saepe impedit excepturi temporibus porro nihil ducimus. Dolores natus sunt cupiditate, odio doloribus voluptatum asperiores sapiente!</p>
        <p>Sapiente non veritatis ducimus, possimus, minima iste animi autem accusamus, corrupti aspernatur praesentium! Aperiam amet nobis recusandae consequatur dolores, laboriosam quas non. Fugiat voluptatibus non ut eaque nemo, libero iste.</p>
        <p>Necessitatibus quasi dolores soluta magnam eos incidunt amet non quia accusamus. Maiores labore temporibus vel culpa esse odit necessitatibus fugit cum magni iure, quos mollitia harum recusandae eaque corporis hic.</p>
    </div>
</div>