<h1>A Blog About My Special Feelings Inside My Heart</h1>

<div class="post">
    <h2>First Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ratione repellendus consequuntur cupiditate aliquam exercitationem amet facere deserunt rerum perspiciatis, autem iste officia, dolor modi corporis accusantium nisi minus. Aut.</p>
        <p>Doloribus ex, ea vitae expedita magni ipsa odit ipsam suscipit veritatis facere ullam id quia excepturi, quos, atque aut quae fugit aperiam amet vel voluptatum iusto? Consectetur minima ad placeat.</p>
    </div>
</div>

<div class="post">
    <h2>Second Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ratione repellendus consequuntur cupiditate aliquam exercitationem amet facere deserunt rerum perspiciatis, autem iste officia, dolor modi corporis accusantium nisi minus. Aut.</p>
        <p>Doloribus ex, ea vitae expedita magni ipsa odit ipsam suscipit veritatis facere ullam id quia excepturi, quos, atque aut quae fugit aperiam amet vel voluptatum iusto? Consectetur minima ad placeat.</p>
    </div>
</div>

<div class="post">
    <h2>Third Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ratione repellendus consequuntur cupiditate aliquam exercitationem amet facere deserunt rerum perspiciatis, autem iste officia, dolor modi corporis accusantium nisi minus. Aut.</p>
        <p>Doloribus ex, ea vitae expedita magni ipsa odit ipsam suscipit veritatis facere ullam id quia excepturi, quos, atque aut quae fugit aperiam amet vel voluptatum iusto? Consectetur minima ad placeat.</p>
    </div>
</div>

<div class="post">
    <h2>Fourth Post</h2>
    <h3 class="author">Some Author</h3>
    <div class="content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ratione repellendus consequuntur cupiditate aliquam exercitationem amet facere deserunt rerum perspiciatis, autem iste officia, dolor modi corporis accusantium nisi minus. Aut.</p>
        <p>Doloribus ex, ea vitae expedita magni ipsa odit ipsam suscipit veritatis facere ullam id quia excepturi, quos, atque aut quae fugit aperiam amet vel voluptatum iusto? Consectetur minima ad placeat.</p>
    </div>
</div>

<hr>

<div class="notification">
    This is a notification
</div>

<div class="error">
    This is error
</div>

<div class="success">
    This is success
</div>