<h1>Search for a stock symbol</h1>

<form action="/stocks/info">
    <label>
        Stock symbol:
        <input type="search" name="symbol" placeholder="GOOG" required autofocus>
    </label>

    <button>Search</button>
</form>